body {
  display: grid;
  grid-template-rows: auto 1fr; /* header takes natural height, main fills rest */
  height: 100%;
}

header {
  grid-row: 1;
}

main {
  border: 1px solid black;
  grid-row: 2;
  height: 100%;
  margin: 10px;
   
  
}

html, body {
  height: 100%;
   
  background: linear-gradient(180deg, #8ccadd, #1861b6);
}

.MapBox{
    height: 95%;
}

.title{
text-align: center;
}